@inject IDoProjects Comms
@inject IToastService Toast

<div>
    <div>id: @CurrentProject.Id</div>
    <div>name: @CurrentProject.Name</div>
    <div>user: @CurrentProject.UserId</div>
</div>


@code {
    [Parameter]
    public Project CurrentProject { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    CurrentProject = await Comms.GetProject(1);
    //    Toast.ShowInfo($"retrieved: {CurrentProject.Name}");
    //}
}
