@inject IDoProjects Comms
@inject IToastService Toast

<div>
    <div><span style="font-weight: bold;">@CurrentProject.Name</span></div>
    <div style="margin-top:1rem;"></div>
    <div><span style="">id:</span> @CurrentProject.Id</div>
    <div>user: @CurrentProject.UserId</div>
</div>


@code {
    [Parameter]
    public Project CurrentProject { get; set; }
}
